body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('img.jpeg');
    background-size: cover;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: rgba(48, 38, 38, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 70%;
}

.title {
    color: hwb(9 70% 9%);
    font-size: 28px;
    margin-top: 0; 
    font-family: "Cedarville Cursive", cursive;
        font-weight: 400;
        font-style: normal;
        font-weight: bolder;
}

.description {
    margin-bottom: 20px;
    color: hwb(9 70% 9%);

}

input[type="text"],
select,
button {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    color: hwb(9 70% 9%);
}

button {
    background-color:  hwb(30 97% 2%);
    color: rgb(229, 224, 224);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color:  hwb(8 16% 51%);
}

#todo-list {
    padding: 0;
    text-align: left;
}

.smoothie-description {
    margin-top: 20px;
    text-align: left;
    color: hwb(9 70% 9%);
}
